# Importando os pacotes

In [2]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
import folium
from haversine import haversine
import streamlit as st

# Realizando limpeza dos dados

In [3]:
# Carregando o dataset
df = pd.read_csv('train.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [20]:
df1 = df.copy()

# Retirada de espaços em branco
colunas_texto = ['ID', 'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle', 'City', 'multiple_deliveries', 'Delivery_person_Age', 'Festival', 'Delivery_person_Ratings']

for coluna in colunas_texto:
    df1[coluna] = df1[coluna].str.strip()

In [23]:
# Removendo linhas com valores inválidos ('NaN' como string) nas colunas
# 'Delivery_person_Age', 'Road_traffic_density' e 'City'
df1 = df1[df1['Road_traffic_density'] != 'NaN']
df1 = df1[df1['City'] != 'NaN']
df1 = df1[df1['Delivery_person_Age'] != 'NaN']
df1 = df1[df1['Delivery_person_Ratings'] != 'NaN']
df1 = df1[df1['multiple_deliveries'] != 'NaN']
df1 = df1[df1['Festival'] != 'NaN']

In [24]:
# Convertendo multiple_deliveries e Delivery_person_Age de texto para numero inteiro (int)
df1['Delivery_person_Age'] = pd.to_numeric(df1['Delivery_person_Age'])
df1['multiple_deliveries'] = pd.to_numeric(df1['multiple_deliveries'])
df1['Delivery_person_Ratings'] = pd.to_numeric(df1['Delivery_person_Ratings'])

In [25]:
# Convertendo para tipo data
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format="%d-%m-%Y")

# Convertendo para tipo numérico
df1['Delivery_person_Age'] = pd.to_numeric(df1['Delivery_person_Age'], errors="coerce")
df1['Delivery_person_Ratings'] = pd.to_numeric(df1['Delivery_person_Ratings'], errors="coerce")

In [26]:
# 7. Limpando a coluna de time taken
df1['Time_taken(min)'] = df1['Time_taken(min)'].apply(lambda x: x.split('(min) ')[1])
df1['Time_taken(min)'] = df1['Time_taken(min)'].astype(int)

In [27]:
#Converter Lat/Long para numérico e tratar strings inválidas como nulo (NaN)
df1['Delivery_location_latitude'] = pd.to_numeric(df1['Delivery_location_latitude'], errors="coerce")
df1['Delivery_location_longitude'] = pd.to_numeric(df1['Delivery_location_longitude'], errors="coerce")

#Remover linhas onde Lat/Long são nulas (NaN) após a conversão
df1.dropna(subset=['Delivery_location_latitude', 'Delivery_location_longitude'], inplace=True)

# 1.0 - Visão: Empresa

## 1. Quantidade de pedidos por dia.

Saída: Um gráfico de barra com a quantidade de entregas no eixo Y e os dias
no eixo X.

Processo: Fazer um contagem da colunas “ID” agrupado “Order Date” e usar
uma bibliotecas de visualização para mostrar o gráfico de barras.

Entrada: Eu posso usar o comando groupby() para agrupar os dados e o
comando count() para contar a coluna de IDs e um comando para desenhar
um gráfico de barras.

In [37]:
# Preparando o dataset
coluns = ['ID', 'Order_Date']
df_aux = df1.loc[: , coluns].groupby('Order_Date').count().reset_index()
df_aux

   Order_Date    ID
0  2022-02-11   902
1  2022-02-12   793
2  2022-02-13   866
3  2022-02-14   787
4  2022-02-15   858
5  2022-02-16   794
6  2022-02-17   853
7  2022-02-18   783
8  2022-03-01  1026
9  2022-03-02   925
10 2022-03-03  1059
11 2022-03-04   899
12 2022-03-05  1038
13 2022-03-06   911
14 2022-03-07  1037
15 2022-03-08   888
16 2022-03-09  1056
17 2022-03-10   909
18 2022-03-11  1020
19 2022-03-12   879
20 2022-03-13  1044
21 2022-03-14   880
22 2022-03-15  1068
23 2022-03-16   916
24 2022-03-17  1013
25 2022-03-18   887
26 2022-03-19  1036
27 2022-03-20   904
28 2022-03-21  1043
29 2022-03-23   892
30 2022-03-24  1035
31 2022-03-25   888
32 2022-03-26  1044
33 2022-03-27   883
34 2022-03-28  1028
35 2022-03-29   902
36 2022-03-30  1018
37 2022-03-31   888
38 2022-04-01  1034
39 2022-04-02   904
40 2022-04-03  1057
41 2022-04-04   858
42 2022-04-05  1041
43 2022-04-06   873

In [38]:
# Fazendo o gráfico

px.bar(df_aux, x='Order_Date', y='ID').show()

grep: /proc/sys/fs/binfmt_misc/WSLInterop: No such file or directory
grep: /proc/sys/fs/binfmt_misc/WSLInterop: No such file or directory

WSL Interopability is disabled. Please enable it before using WSL.
[error] WSL Interoperability is disabled. Please enable it before using WSL.(B

In [30]:
import plotly.io as pio
pio.renderers.default = "plotly_mimetype"  # Renderer ideal p/ JupyterLab 4

## 2. Quantidade de pedidos por semana.

Saída: Um gráfico de linhas com a quantidade de entregas no eixo Y e as
semanas no eixo X

Processo: Eu preciso criar uma coluna a partir da extração dos números da
semana da coluna “Order Date”, fazer um contagem da colunas “ID”
agrupado pela nova coluna e usar uma bibliotecas de visualização para
mostrar o gráfico de linhas.

Entrada: Eu posso usar o comando groupby() para agrupar os dados e o
comando count() para contar a coluna de IDs e um comando para desenhar
um gráficos de linhas.

In [29]:
df1['Week_of_year'] = df1['Order_Date'].dt.strftime("%U")
coluns = ['Week_of_year' , 'ID']
df_aux = df1.loc[: , coluns].groupby('Week_of_year').count().reset_index()

px.line(df_aux , x='Week_of_year', y='ID')

## 3. Distribuição dos pedidos por tipo de tráfego.

Saída: Um gráfico de pizza com a porcentagem dos pedidos por cada tipo de
tráfego.

Proceso: Eu preciso contar o número de entregas, agrupado pela coluna de
densidade de tráfego e calcular a porcentagem que cada valor representa no
todo.

Entrada: Eu posso usar o comando groupby() para agrupar os dados e o
comando count() para contar a coluna de IDs. Como segundo passo, eu
posso criar uma coluna resultante da divisão de cada valor pela soma total de
pedidos por tipo de tráfego.

In [34]:
columns = ['ID', 'Road_traffic_density']
df_aux = df1.loc[:, columns].groupby( 'Road_traffic_density' ).count().reset_index()
df_aux['perc_ID'] = 100 * ( df_aux['ID'] / df_aux['ID'].sum() )

# Gerando o gráfico
px.pie( df_aux, values='perc_ID', names='Road_traffic_density' )

## 4. Comparação do volume de pedidos por cidade e tipo de tráfego.

Saída: Um gráfico de bolhas com o eixo Y sendo o tipo de tráfego, o eixo X
sendo a cidade e o tamanho da bolha a quantidade de entrega.

Processo: Eu preciso contar o número de pedidos, agrupados por cidade e
tipo de tráfego e desenhar um gráfico de bolha.

Entrada: Eu posso usar o comando groupby() para agrupar os dados por
cidade e tipo de tráfego e o comando count() para contar a coluna de ID.
Após esses cálculos, eu posso desenhar o gráfico de bolhas.

In [15]:
coluns = ['ID', 'City' , 'Road_traffic_density']
df_aux = df1.loc[: , coluns].groupby(['City' , 'Road_traffic_density']).count().reset_index()
fig = px.scatter(
    df_aux,         # DataFrame com os dados
    x='Road_traffic_density',       # eixo X
    y='City',       # eixo Y
    size='ID', # determina o tamanho das bolhas
)
fig.show()

## 5. A quantidade de pedidos por entregador por semana.

Saída: Um gráfico de linhas, mostrando o valor da divisão entre o número
total de pedidos na semana e a quantidade de entregadores únicos naquela
mesma semana.

Processo: Calcular o número de entregas por semana e o cálculo do número
de entregadores únicos por semana e vou dividir os dois valores, exibindo-os
em um gráfico de linha.

Entrada: Eu vou contar o número de entregas ( ID ) por semana, através do
comando count() agrupado por uma nova variável chamada week of year. E
vou contar o número de entregadores únicos ( .unique ) e dividir as entregas
pelos entregadores únicos da mesma semana.

In [17]:
df1['Week_of_year'] = df1['Order_Date'].dt.strftime("%U")
df_aux1 = df1.loc[: , ['Week_of_year' , 'ID']].groupby('Week_of_year').count().reset_index()
df_aux2 = df1.loc[: , ['Week_of_year', 'Delivery_person_ID']].groupby('Week_of_year').nunique().reset_index()
df_aux =  pd.merge(df_aux1 , df_aux2, how='inner')
df_aux['order_by_delivery'] = df_aux['ID'] / df_aux['Delivery_person_ID']

# Gerando o gráfico
fig = px.line(
    df_aux,     # DataFrame com os dados
    x="Week_of_year",   # eixo X
    y="order_by_delivery",   # eixo Y
)
fig.show()

## 6. A localização central de cada cidade por tipo de tráfego.

Saída: Um mapa com pinos mostrando o ponto mediano da região por tipo de
tráfego.

Processo: Eu preciso calcular o valor mediano da latitude e da longitude,
agrupado por cidade e tipo de tráfego.

Entrada: Eu posso usar o comando groupby() para agrupar os dados por
cidade e tipo de tráfego e o comando median() para encontrar a mediana da
coluna latitude e longitude, para então desenhar um mapa e colocar os
resultados como pinos.

In [14]:
coluns = ['City','Road_traffic_density','Restaurant_latitude','Restaurant_longitude']
df_aux = df1.loc[: , coluns].groupby(['City','Road_traffic_density']).median().reset_index()
df_aux

,City,Road_traffic_density,Restaurant_latitude,Restaurant_longitude
0,Metropolitian,High,18.539299,76.282198
1,Metropolitian,Jam,18.562450,75.902847
2,Metropolitian,Low,18.551440,75.898497
3,Metropolitian,Medium,18.554382,75.902847
4,Semi-Urban,High,20.423478,76.784976
5,Semi-Urban,Jam,17.434965,76.618496
6,Semi-Urban,Medium,21.160234,77.661931
7,Urban,High,18.593481,75.892574
8,Urban,Jam,18.554382,75.893400
9,Urban,Low,18.551440,75.892574
10,Urban,Medium,18.554382,75.903365

In [15]:
columns = [
'City',
'Road_traffic_density',
'Delivery_location_latitude',
'Delivery_location_longitude'
]
columns_groupby = ['City', 'Road_traffic_density']
data_plot = df1.loc[:, columns].groupby( columns_groupby ).median().reset_index()
data_plot = data_plot[data_plot['City'] != 'NaN']
data_plot = data_plot[data_plot['Road_traffic_density'] != 'NaN']
# Desenhar o mapa
map_ = folium.Map( zoom_start=11 )
for index, location_info in data_plot.iterrows():
    folium.Marker( [location_info['Delivery_location_latitude'],
location_info['Delivery_location_longitude']],
popup=location_info[['City', 'Road_traffic_density']] ).add_to( map_ )
map_

# 2.0 - Visão: Entregadores

## 1. A menor e maior idade dos entregadores.

Saída: Uma frase na tela contendo a informação da menor e da maior idade dos entregadores.

Processo: Selecionar a coluna Delivery_person_Age e identificar o menor e o maior valor desta coluna.

Entrada: Selecionar a coluna envolvida utilizando e o
comando min() e max() para identificar o menor e o maior valor da idade.

In [16]:
#coluns = ['Delivery_person_Age', 'Delivery_person_ID']
menor_idade = df1['Delivery_person_Age'].min()
maior_idade = df1['Delivery_person_Age'].max()

print(f'A menor idade dos entregadores desta base é de {menor_idade} anos, enquanto a maior é de {maior_idade} anos.')

A menor idade dos entregadores desta base é de 20 anos, enquanto a maior é de 39 anos.

## 2. A pior e a melhor condição de veículos.

Saída: Uma frase na tela contendo o valor da pior e da melhor condição dos veículos.

Processo: Selecionar a coluna Vehicle_condition e identificar o pior e melhor valor de condição dos veículos.

Entrada: Selecionar a coluna envolvida utilizando e o
comando min() e max() para identificar o menor e o maior valor da condição do veículo.

In [17]:
df1['Vehicle_condition'].dtype

dtype('int64')

In [18]:
pior_condicao = df1['Vehicle_condition'].min()
melhor_condicao = df1['Vehicle_condition'].max()

print(f'O pior valor de condição dos veículos é {pior_condicao}, enquanto que o melhor valor é {melhor_condicao}.')

O pior valor de condição dos veículos é 0, enquanto que o melhor valor é 2.

## 3. A avaliação média por entregador.

Saída: Uma tabela contendo uma coluna com o entregador e outra com o valor médio da sua avaliação.

Processo: Selecionar as colunas que identificam o entregador e a sua avaliação. Agrupar os valores da avaliação por entregador e calcular o valor médio. Depois de obtido os valores de media da avaliação, estes podem ser organizados do maior para o menor para melhor.

Entrada: Selecionar as colunas Delivery_person_ID e Delivery_person_Ratings utilizando .loc e aplicar o comando groupby() para agrupar os dados por Delivery_person_ID e, em seguida, utilizar o método .mean() para calcular a média das avaliações de cada entregador. Por fim pode-se utilizar o comando sort_values() para organizar os valores de media da avaliação.

In [19]:
df1.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Week_of_year
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,...,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24,11
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,...,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33,12
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,...,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,11
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,...,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21,14
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,...,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30,12

In [20]:
coluns = ['Delivery_person_ID' , 'Delivery_person_Ratings']
tabela_avaliacoes = df1.loc[: , coluns].groupby('Delivery_person_ID').mean().reset_index().sort_values(by='Delivery_person_Ratings', ascending=False)

tabela_avaliacoes.head()

    Delivery_person_ID  Delivery_person_Ratings
158    AURGRES13DEL03                  4.925000
816     KOCRES13DEL01                  4.861538
497     GOARES05DEL03                  4.842857
959    LUDHRES20DEL03                  4.841667
55      AGRRES19DEL02                  4.840000

## 4. A avaliação média e o desvio padrão por tipo de tráfego.

Saída: Uma tabela contendo uma coluna com o tipo de tráfego, uma com o valor médio da sua avaliação e outra com o valor do desvio padrão destas avaliações.

Processo: Selecionar as colunas que identificam o tipo de tráfego e a sua avaliação. Agrupar os valores da avaliação por tipo de tráfego e calcular o valor médio e o desvio padrão. Depois de obtidos os valores de media da avaliação e desvio padrão, os resultados devem ser organizados em um novo DataFrame contendo as colunas Road_traffic_density, Delivery_mean e Delivery_std. 

Entrada: Selecionar as colunas Road_traffic_density e Delivery_person_Ratings utilizando .loc e aplicar o comando groupby() para agrupar os dados por Road_traffic_density e, em seguida, utilizar o método .agg() para calcular a média e desvio padrão das avaliações de tipo de tráfego. Depois é necessário resetar os indices para transformar em dataset.

In [21]:
coluns = ['Road_traffic_density' , 'Delivery_person_Ratings']
df1.loc[: , coluns].groupby('Road_traffic_density').agg(Delivery_mean=('Delivery_person_Ratings' , 'mean') , Delivery_std=('Delivery_person_Ratings' , 'std')).reset_index()

  Road_traffic_density  Delivery_mean  Delivery_std
0                 High       4.652230      0.273044
1                  Jam       4.594019      0.329778
2                  Low       4.645011      0.338080
3               Medium       4.660138      0.274245

## 5. A avaliação média e o desvio padrão por condições climáticas.

Saída: Uma tabela contendo uma coluna com a condição climática, uma com o valor médio da sua respectiva avaliação e outra com o valor do desvio padrão destas avaliações.

Processo: Selecionar as colunas que identificam a condição climática e a sua avaliação. Agrupar os valores da avaliação por condição climática e calcular o valor médio e o desvio padrão. Depois de obtidos os valores de media da avaliação e desvio padrão, os resultados devem ser organizados em um novo DataFrame contendo as colunas Weatherconditions, Delivery_mean e Delivery_std. 

Entrada: Selecionar as colunas Weatherconditions e Delivery_person_Ratings utilizando .loc e aplicar o comando groupby() para agrupar os dados por Weatherconditions e, em seguida, utilizar o método .agg() para calcular a média e desvio padrão das avaliações de tipo de tráfego. Depois é necessário resetar os indices para transformar em dataset.

In [22]:
coluns = ['Weatherconditions' , 'Delivery_person_Ratings']
df1.loc[: , coluns].groupby('Weatherconditions').agg(Delivery_mean=('Delivery_person_Ratings' , 'mean') , Delivery_std=('Delivery_person_Ratings' , 'std')).reset_index()

       Weatherconditions  Delivery_mean  Delivery_std
0      conditions Cloudy       4.651871      0.281197
1         conditions Fog       4.652965      0.275060
2  conditions Sandstorms       4.611748      0.310852
3      conditions Stormy       4.611819      0.313096
4       conditions Sunny       4.654868      0.396674
5       conditions Windy       4.616128      0.304565

## 6. Os 10 entregadores mais rápidos por cidade.

Saída: Uma tabela contendo uma coluna com o ID do entregador, uma com a cidade e outra com os tempos médios de entrega.

Processo: Selecionar as colunas que identificam o ID do entregador, a cidade e os tempos de entrega. Agrupar os valores de tempo de entrega por cidade e entregador e calcular o valor médio. Após calcular o tempo médio, ordenar os resultados de forma crescente (menores tempos primeiro) e selecionar os 10 entregadores mais rápidos de cada cidade. Por fim aplicar o reset de index para transformar em dataframe. 

Entrada: Selecionar as colunas Delivery_person_ID, City e Time_taken(min) utilizando .loc. Em seguida, aplicar o comando .groupby() para agrupar os dados por City e Delivery_person_ID, e utilizar o método .mean() para calcular o tempo médio de entrega de cada entregador em cada cidade. Ordenar os resultados de forma crescente (menores tempos primeiro) com o comando .sort_values(). Por fim, utilizar o método .apply() junto com .nsmallest(10, 'Time_taken(min)') para selecionar os 10 entregadores mais rápidos de cada cidade e, em seguida, aplicar .reset_index() para reorganizar os índices.

In [23]:
coluns = ['Delivery_person_ID', 'City' , 'Time_taken(min)']
df_aux = df1.loc[: , coluns].groupby(['City', 'Delivery_person_ID']).mean().sort_values(by=['City', 'Time_taken(min)'] , ascending=True).reset_index()

top_10 = (df_aux.groupby('City')
                 .apply(lambda x: x.nsmallest(10, 'Time_taken(min)'))
                 .reset_index(drop=True))

top_10

/tmp/ipykernel_1727/411788793.py:5: FutureWarning:

DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.

             City Delivery_person_ID  Time_taken(min)
0   Metropolitian     KNPRES03DEL02         15.750000
1   Metropolitian     ALHRES02DEL02         17.800000
2   Metropolitian     KNPRES01DEL01         19.125000
3   Metropolitian     KOLRES01DEL03         19.125000
4   Metropolitian     KOCRES02DEL02         19.250000
5   Metropolitian     KOCRES08DEL03         19.800000
6   Metropolitian     KOCRES16DEL03         20.000000
7   Metropolitian     KOCRES02DEL03         20.375000
8   Metropolitian     GOARES14DEL01         20.400000
9   Metropolitian     DEHRES20DEL03         20.428571
10     Semi-Urban    INDORES16DEL01         44.000000
11     Semi-Urban     MYSRES18DEL01         44.000000
12     Semi-Urban     SURRES19DEL01         44.000000
13     Semi-Urban    BANGRES18DEL03         45.000000
14     Semi-Urban     SURRES12DEL03         45.000000
15     Semi-Urban   COIMBRES17DEL01         46.000000
16     Semi-Urban     HYDRES03DEL03         46.000000
17     Semi-Urban     HYDRES09DEL02         46.000000
18     Semi-Urban    INDORES19DEL01         46.000000
19     Semi-Urban     MUMRES09DEL02         46.000000
20          Urban    AURGRES02DEL03         10.000000
21          Urban     BHPRES11DEL03         10.000000
22          Urban     DEHRES08DEL02         10.000000
23          Urban     DEHRES20DEL03         10.000000
24          Urban     KOCRES04DEL02         10.000000
25          Urban    LUDHRES01DEL02         10.000000
26          Urban     BHPRES13DEL01         11.000000
27          Urban     KOLRES05DEL01         11.000000
28          Urban    LUDHRES07DEL03         11.000000
29          Urban    CHENRES07DEL01         11.666667

## 7. Os 10 entregadores mais lentos por cidade.

Saída: Uma tabela contendo uma coluna com o ID do entregador, uma com a cidade e outra com os tempos médios de entrega.

Processo: Selecionar as colunas que identificam o ID do entregador, a cidade e os tempos de entrega. Agrupar os valores de tempo de entrega por cidade e entregador e calcular o valor médio. Após calcular o tempo médio, ordenar os resultados de forma descendente (maiores tempos primeiro) e selecionar os 10 entregadores mais lentos de cada cidade. Por fim aplicar o reset de index para transformar em dataframe. 

Entrada: Selecionar as colunas Delivery_person_ID, City e Time_taken(min) utilizando .loc. Em seguida, aplicar o comando .groupby() para agrupar os dados por City e Delivery_person_ID, e utilizar o método .mean() para calcular o tempo médio de entrega de cada entregador em cada cidade. Ordenar os resultados de forma descendente (maiores tempos primeiro) com o comando .sort_values(). Por fim, utilizar o método .apply() junto com .nlargest(10, 'Time_taken(min)') para selecionar os 10 entregadores mais lentos de cada cidade e, em seguida, aplicar .reset_index() para reorganizar os índices.

In [10]:
colunas = ['Delivery_person_ID' , 'City' , 'Time_taken(min)']

df_aux = df1.loc[: , colunas].groupby(['City' , 'Delivery_person_ID']).mean().sort_values(by=['City', 'Time_taken(min)'] , ascending=False).reset_index()


lentos_10 = (df_aux.groupby('City')
                 .apply(lambda x: x.nlargest(10, 'Time_taken(min)'))
                 .reset_index(drop=True))

lentos_10

/tmp/ipykernel_1691/2676590400.py:7: FutureWarning:

DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.

             City Delivery_person_ID  Time_taken(min)
0   Metropolitian     AGRRES02DEL01         39.428571
1   Metropolitian    AURGRES11DEL03         38.500000
2   Metropolitian     KOLRES03DEL03         38.142857
3   Metropolitian    LUDHRES17DEL03         37.000000
4   Metropolitian     ALHRES18DEL02         36.666667
5   Metropolitian     GOARES08DEL03         36.000000
6   Metropolitian     ALHRES12DEL01         35.000000
7   Metropolitian     AGRRES13DEL02         34.700000
8   Metropolitian     KNPRES06DEL01         34.555556
9   Metropolitian    ALHRES010DEL01         34.500000
10     Semi-Urban     AGRRES17DEL01         54.000000
11     Semi-Urban   BANGRES010DEL01         54.000000
12     Semi-Urban   COIMBRES08DEL03         54.000000
13     Semi-Urban     GOARES18DEL01         54.000000
14     Semi-Urban     HYDRES19DEL01         54.000000
15     Semi-Urban    INDORES15DEL01         54.000000
16     Semi-Urban     JAPRES03DEL02         54.000000
17     Semi-Urban     JAPRES09DEL01         54.000000
18     Semi-Urban     JAPRES14DEL02         54.000000
19     Semi-Urban    LUDHRES05DEL01         54.000000
20          Urban     KOLRES19DEL03         51.000000
21          Urban    LUDHRES16DEL03         47.000000
22          Urban    AURGRES17DEL03         43.000000
23          Urban     BHPRES03DEL02         42.000000
24          Urban     DEHRES02DEL03         41.000000
25          Urban     DEHRES09DEL02         39.500000
26          Urban     BHPRES07DEL03         39.333333
27          Urban     GOARES01DEL02         38.500000
28          Urban    AURGRES04DEL01         38.000000
29          Urban     GOARES03DEL01         38.000000

# 3.0 - Visão: Restaurantes

1. A quantidade de entregadores únicos.

Saída: Uma frase na tela contendo a informação da quantidade de entregadores únicos da base.

Processo: Selecionar a coluna contendo o identificador do entregador, identificar quais os valores únicos e contar a quantidade destes.

Entrada: Selecionar a coluna Delivery_person_ID utilizando o comando .loc, identificar os valores unicos utilizando o comando unique() e contar a quantidade.

In [25]:
qtd_entregadores = len(df1['Delivery_person_ID'].unique())
print(f'A quantidade de entregadores únicos na base é {qtd_entregadores} entregadores.')

A quantidade de entregadores únicos na base é 1320 entregadores.

2. A distância média dos resturantes e dos locais de entrega.

Saída: Uma frase na tela contendo a informação da distância média dos resturantes e dos locais de entrega.

Processo: Selecionar as colunas de latitude e longitude dos restaurantes e dos locais de entrega, calcular o valor da distância para cada linha da base de dados e por fim calcular a média dos valores de distancia obtidos.

Entrada: Selecionar as colunas Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude e Delivery_location_longitude  utilizando o comando .loc. Após isto aplicar uma função linha a linha que calcula a distancia e por fim utilizar o método .mean() para calcular a média dos valores de distancia obtidos.

In [26]:
coluns = ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']
df1['Distance (km)'] = df1.loc[: , coluns].apply(lambda x: haversine((x['Restaurant_latitude'] , x['Restaurant_longitude']) , (x['Delivery_location_latitude'] , x['Delivery_location_longitude'])), axis=1)
valor_medio = df1['Distance (km)'].mean()
print(f'A distância média entre os resturantes e seus locais de entrega é {valor_medio:.1f} kilometros.')

A distância média entre os resturantes e seus locais de entrega é 27.4 kilometros.

3. O tempo médio e o desvio padrão de entrega por cidade.

Saida: Uma tabela contendo uma coluna com o tempo médio de entrega, uma outra coluna com o desvio padrão deste tempo e uma coluna para a cidade.

Processo: Selecionar as colunas relativas ao tempo de entrega e a cidade. Agrupar por cidade e realizar os calculos do tempo médio de entrega e o seu desvio padrão.  

Entrada: Selecionar as colunas Time_taken(min) e City através do comando .loc. Agrupar os dados por City através do método groupby e realizar os calculos de media e desvio padrão através do método .agg() e resetar o idex através do reset_index() para tranformar o resultado final em um novo dataframe.

In [27]:
coluns = ['City' , 'Time_taken(min)']
df_final = df1.loc[: , coluns].groupby('City').agg(tempo_medio=('Time_taken(min)' , 'mean') , desvio_padro=('Time_taken(min)' , 'std')).reset_index()
df_final

            City  tempo_medio  desvio_padro
0  Metropolitian    27.428083      9.133374
1     Semi-Urban    49.710526      2.724992
2          Urban    23.209379      8.858049

4. O tempo médio e o desvio padrão de entrega por cidade e tipo de pedido.

Saida: Uma tabela contendo uma coluna com o tempo médio de entrega, uma outra coluna com o desvio padrão deste tempo, uma coluna para a cidade e outra para o tipo do pedido.

Processo: Selecionar as colunas relativas ao tempo de entrega, cidade e tipo do pedido. Agrupar por cidade e tipo do pedido e realizar os cálculos do tempo médio de entrega e o seu desvio padrão.  

Entrada: Selecionar as colunas Time_taken(min), Type_of_order e City através do comando .loc. Agrupar os dados por City e Type_of_order através do método groupby e realizar os calculos de media e desvio padrão através do método .agg() e resetar o idex através do reset_index() para tranformar o resultado final em um novo dataframe.

In [28]:
df1.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Week_of_year,Distance (km)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,...,High,2,Snack,motorcycle,0,No,Urban,24,11,3.025153
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,...,Jam,2,Snack,scooter,1,No,Metropolitian,33,12,20.183558
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,...,Low,0,Drinks,motorcycle,1,No,Urban,26,11,1.552760
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,...,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21,14,7.790412
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,...,High,1,Snack,scooter,1,No,Metropolitian,30,12,6.210147

In [29]:
coluns = ['City' , 'Time_taken(min)' , 'Type_of_order']
df_final = df1.loc[: , coluns].groupby(['City' , 'Type_of_order']).agg(tempo_medio=('Time_taken(min)' , 'mean') , desvio_padro=('Time_taken(min)' , 'std')).reset_index()
df_final

             City Type_of_order  tempo_medio  desvio_padro
0   Metropolitian        Buffet    27.299008      9.153107
1   Metropolitian        Drinks    27.322691      9.041655
2   Metropolitian          Meal    27.616383      9.214536
3   Metropolitian         Snack    27.468414      9.119676
4      Semi-Urban        Buffet    49.707317      2.731702
5      Semi-Urban        Drinks    49.625000      2.459347
6      Semi-Urban          Meal    50.300000      3.041665
7      Semi-Urban         Snack    49.408163      2.707385
8           Urban        Buffet    23.560652      9.056348
9           Urban        Drinks    23.311977      8.927314
10          Urban          Meal    23.040710      8.770178
11          Urban         Snack    22.925021      8.666034

5. O tempo médio e o desvio padrão de entrega por cidade e tipo de tráfego.

Saida: Uma tabela contendo uma coluna com o tempo médio de entrega, uma outra coluna com o desvio padrão deste tempo, uma coluna para a cidade e outra para o tipo de tráfego.

Processo: Selecionar as colunas relativas ao tempo de entrega, cidade e tipo do pedido. Agrupar por cidade e tipo de tráfego e realizar os cálculos do tempo médio de entrega e o seu desvio padrão.  

Entrada: Selecionar as colunas Time_taken(min), Type_of_vehicle e City através do comando .loc. Agrupar os dados por City e Type_of_vehicle através do método groupby e realizar os calculos de media e desvio padrão através do método .agg() e resetar o idex através do reset_index() para tranformar o resultado final em um novo dataframe.

In [30]:
coluns = ['City' , 'Time_taken(min)' , 'Type_of_vehicle']
df_final = df1.loc[: , coluns].groupby(['City' , 'Type_of_vehicle']).agg(tempo_medio=('Time_taken(min)' , 'mean') , desvio_padro=('Time_taken(min)' , 'std')).reset_index()
df_final

            City   Type_of_vehicle  tempo_medio  desvio_padro
0  Metropolitian  electric_scooter    25.471484      8.487121
1  Metropolitian        motorcycle    28.602926      9.358515
2  Metropolitian           scooter    25.765313      8.509350
3     Semi-Urban  electric_scooter    49.000000      0.000000
4     Semi-Urban        motorcycle    49.878571      2.741810
5     Semi-Urban           scooter    47.333333      1.581139
6          Urban  electric_scooter    21.633588      7.870162
7          Urban        motorcycle    24.511801      9.195932
8          Urban           scooter    21.543401      8.175205

6. O tempo médio de entrega durantes os Festivais.

Saida: Uma mensagem contendo o tempo médio de entrega durante os Festivais.

Processo: Aplicar um filtro no dataframe para selecionar somente as linhas nas quais se trata de quando é Festival. 
Selecionar a coluna de tempo de entrega e realizar a operação de média.

Entrada: Realizar um filtro Festival==Yes, selecionar as linhas através do comando .loc para a coluna Time_taken(min)
de acordo com este filtro e aplicar a operação .mean().

In [28]:
filtro = df1['Festival'] == 'Yes'
tempo_medio_festival = df1.loc[filtro , 'Time_taken(min)'].mean()
print(f'O tempo médio de entrega durantes os Festivais é de {tempo_medio_festival : .2f} minutos.')

O tempo médio de entrega durantes os Festivais é de  45.52 minutos.